/**
 FONTS
**/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(fonts/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(fonts/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(fonts/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

/**
 * Sky theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
.reveal a:not(.image) {
  line-height: 1.3em; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: #ffffff;
  background: -moz-radial-gradient(center, circle cover, #F0F0F0 0%, #C7D0DC 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #C7D0DC), color-stop(100%, #F0F0F0));
  background: -webkit-radial-gradient(center, circle cover, #F0F0F0 0%, #C7D0DC 100%);
  background: -o-radial-gradient(center, circle cover, #F0F0F0 0%, #C7D0DC 100%);
  background: -ms-radial-gradient(center, circle cover, #F0F0F0 0%, #C7D0DC 100%);
  background: radial-gradient(center, circle cover, #F0F0F0 0%, #C7D0DC 100%);
  background-color: white; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333333; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-transform: inherit;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  font-size: 3em;
}
.reveal h2{
  font-size: 2.11em;
}
.reveal h3{
  font-size: 1.55em;
}
/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #3b759e;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #74a7cb;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #264c66; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3b759e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #3b759e; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #3b759e; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #3b759e; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #3b759e; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #74a7cb; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #74a7cb; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #74a7cb; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #74a7cb; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3b759e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }


.reveal section img.bookmark{
  position: absolute;
  top: 0;
  right: 0;
}

.reveal section .monospace {
  font-family: monospace;
}

.reveal section img.figure, .reveal section img[src*="flickr.com"] {
  margin: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.50);
  border: 2px solid black;
  max-width: 800px;
}

.reveal section pre code{
  padding: 10px;
}


.reveal ul {
  list-style-type: disc;
}
.reveal ol, .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol li, .reveal ul li{
  line-height: normal;
}

.reveal strong, .reveal b {
  font-weight: 700;
  color: #3b759e;
}
.reveal em, .reveal i {
  font-style: italic;
}
.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px;
}
.reveal ul ul {
  list-style-type: square;
}

.reveal img{
  max-height: 600px;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;
  text-align: left;
  font-size: .55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
}